.about {
    background: #FFF;
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        .aboutTitle_block {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: nowrap;
            .section_title{
                color: #0C0C0E;
                font-family: Forum;
                font-size: 40px;
                font-style: normal;
                font-weight: 400;
                line-height: 40px;
                letter-spacing: 2px;
                text-transform: capitalize;
                margin: 0;
                padding: 20px 0 0 0;
                border-bottom:black;
            }
            .section_title::after {
                content: "";
                background: #000;
                width: 50px;
                height: 1px;
                display: block;
                margin: 20px auto 40px auto;
            }
            .about_text {
                color: #000;
                text-align: center;
                text-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
                font-family: Inter, sans-serif;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 40px;
                margin: 0;
                padding-bottom: 20px;
            }

        }
        .about_carusel {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            position: relative;
            height: 560px;
            overflow: hidden;
            .arrow {
                display: none;
            }
            .caruselAbout {
                position: absolute;
                left: -950px;
                // max-width: 1400px;
                height: inherit;
                // background: gray;
                display: flex;
                flex-direction: row;
                gap: 25px;

                .slideImage__block {
                    width: inherit;
                    height: inherit;

                }
            }
            .moveLeftOneCard {
                left: -1425px;
                transition: .5s ease-out;

            }
            .moveLeftTwoCard {
                left: -1900px;
                transition: .5s ease-out;

            }
            .about_slideLeft {
                left: 0px; // +475px

                transition: .5s ease-out;
            }
            // .about_slideRight {
            //     right: 0px; // +475px

            //     transition: .5s ease-out;
            // }
        }
        .carusel_pagination {
            max-width: 68px;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 40px 0 40px 0;
            .pagination {
                width: 16px;
                height: 16px;
                background: #000;
                border-radius: 50px;
                border: none;
                transition: 0.8s;
                position: relative;
            }
            .pagination::after{
                content: '';
                position: absolute;
                width: 26px;
                height: 26px;
                border-radius: 50%;
                bottom: -5px;
                left: -5px;
            }
            .pagination:first-child {
                background: #BB945F;
            }
            .pagination:nth-last-child(-n+2) {
                display: none;
            }
        }
    }
}
@media (max-width: 1024px) and (min-width: 768px) {
    .about{
        .wrapper{
            .aboutTitle_block{
                .about_text{
                    text-shadow: none;
                }
            }
            .about_carusel{
                max-width: 568px;
                align-items: center;
                .arrow {
                    display: inline;
                    background: #FFF;
                    border: none;
                    width: 28px;
                    height: 23px
                }
                #about_carusel_img2, #about_carusel_img3 {
                    display: none;
                }
            }
            .carusel_pagination {
                max-width: 120px;
                .pagination:nth-last-child(-n+2) {
                    display: inline;
                }
                .pagination:first-child {
                    background: #BB945F;
                }
            }
        }
    }
}