.footer{
    margin-top: 41px;
    background: #0C0C0E;
        .wrapper{
        display: flex;
        flex-direction: column;
        .ft_header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 20px 0 0 0;

            .ft_header_frame{
                display: flex;
                flex-direction: column;
                .adress{
                    color: #FFF;
                    font-family: Inter;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px; /* 133.333% */
                    width: 229px;
                    text-decoration: none;
                    margin: 0 0 18px 0;
                }
                .social_list{
                    display: flex;
                    flex-direction: row;
                    padding-left: 0;
                    margin: 0;
                    .list_soc{
                        list-style: none;
                        margin-right: 15px;
                    }
                }
            }
            .schedule{
                display: flex;
                flex-direction: column;
                .sched_linkTomap{
                    margin: 0 0 10px 0;
                    color: #FFF;
                    text-align: right;
                    font-family: Inter;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px; /* 133.333% */
                    text-decoration: none;
                }
            }
        }
        .footer_line {
            width: 100%;
            height: 1px;
            background: #FFFFFF;
            margin: 38px 0 44px 0;
        }
        .footer_rss {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-between;
            .ftRss_typografy {
                color: #FFF;
                text-align: center;
                font-family: Inter;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 40px; /* 200% */
                letter-spacing: 2px;
                text-decoration: none;

            }
            .year {
                display:inline ;
            }

        }
    }

}
@media (max-width: 1024px) and (min-width: 768px) {
    .footer {
        margin-top: 40px;
        .wrapper {
            .ft_header {
                .ft_header_frame {
                    .adress {
                        margin: 0 0 10px 0;
                    }
                    .social_list {
                        margin: 8px 0 8px 0;
                    }
                }
                .schedule {
                    .sched_linkTomap:last-child {
                        margin: 0;
                    }
                }
            }
            .footer_line {
                margin: 30px 0 44px 0;
            }
            .footer_rss {
                .year {
                    margin: 0;
                }
                margin-bottom: 44px;
            }
        }
    }
}