.header {
    width: 100%;
    height: 90px;
    background-color: #0C0C0E;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    position: relative;
    .header_title {
        max-width: 294px;
        height: 50px;
        margin-top: 15px;
        color: #FFF;
        font-family: Forum;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 50px; /* 166.667% */
        letter-spacing: 0.6px;
        margin: 0;
    }
    .navigation {
        max-width: 584px;
        width: 100%;
        height: 50px;
        position: absolute;
        right: 88px;
        .nav_list {
            padding: 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin: 0;
            .list {
                list-style: none;
                .list_link {
                    text-decoration: none;
                    color: #FFF;
                    font-family: Inter;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 50px;
                }
                .list_link:hover {
                    color: #BB945F;
                    transition: 0.5s ease-in;
                }
            }
        }
    }
    .header_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .burger_menu {
            display: none;
        }
    }
}
@media (max-width: 1024px) and (min-width: 768px) {
    .header {
        background: #000000;
        position: relative;
        .navigation {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            position: absolute;
            width: 320px;
            height: 480px;
            background: #000000;
            top: 90px;
            right: 0;
            z-index: 3;
            transition: .9s ease-in-out;
            opacity: 0;
            visibility: visible;

            .nav_list {
                flex-direction: column;
                position: absolute;
                width: 118px;
                height: 370px;
            }
        }

        .header_container {
            max-width: 113px;
            width: 100%;

            .burger_menu {
                display: block;
                width: 45px;
                height: 20px;
                position: relative;
                padding: 0;
                border: none;
                background: transparent;
                .burger_line {
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background: #FFFFFF;
                    left: 0;
                    top: 50%;
                    transition: opacity 0.3s ease-in-out;

                }

            }
            .burger_menu::before,
            .burger_menu::after{
                content: "";
                left: 0;
                background: #FFFFFF;
                width: 100%;
                height: 2px;
                position: absolute;
                transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, bottom 0.3s ease-in-out;


            }
            .burger_menu::before {
                top: 2px;
            }
            .burger_menu::after {
                bottom: 0;
            }


// BURGER CLICK TO JS //

            .burger_menu_click {
                display: block;
                width: 45px;
                height: 20px;
                position: relative;
                padding: 0;
                border: none;
                background: transparent;
                .burger_line {
                    opacity: 0;
                    transition: opacity 0.3s ease-in-out;
                }
            }
            .burger_menu_click::before {
                content: "";
                left: 0;
                background: #FFFFFF;
                width: 100%;
                height: 2px;
                position: absolute;
                transform: rotate(45deg);
                top: 50%;
                transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, bottom 0.3s ease-in-out;

            }
            .burger_menu_click::after {
                content: "";
                left: 0;
                background: #FFFFFF;
                width: 100%;
                height: 2px;
                position: absolute;
                transform: rotate(-45deg);
                top: 50%;
                transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, bottom 0.3s ease-in-out;

            }

        }
    }
}